
.grid {
	list-style: none;
    margin:  0;
    padding: 0;
    margin-left: - $grid-gutter;
}

.grid__item {
	display: inline-block;
	padding-left: $grid-gutter;
	vertical-align: top;
	width: 100%;
}
