<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}">
    <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather:400,900' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans:400italic,400' rel='stylesheet' type='text/css'>

    <!-- OG tags for sharing -->
    <meta property="og:url"           content="{{ page.url }}" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="{{ site.title }}" />
	<meta property="og:description"   content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
	<meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
