<header class="site-header">
    <div class="inner-constraint">

        <!-- Site Logo / Name -->
        <h1 class="site-header__logo heading heading--delta">
            <a class="reset-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </h1>

        <!-- Main Nav -->
        <nav>
            <ul class="reset-list list--inline main-nav">
                {% for item in site.navigation %}<!--
                 --><li class="menu-item {% if page.url == item.url %}menu-item--current{% endif %}">
                        <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                        {% if item.dropdown %}
                            <ul class="reset-list main-nav__dropdown">
                                {% for dropdownitem in item.dropdown %}
                                <li>
                                    <a class="menu-item" href="{{ dropdownitem.url | prepend: site.baseurl }}">{{ dropdownitem.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li><!--
                 -->{% endfor %}
            </ul>
        </nav>

    </div>
</header>
