
{% assign author = site.data.authors[post.author] %}

<section class="post-summary" data-review-type="{{ post.review-type }}">
    <ul class="reset-list list--inline breadcrumb post-summary__breadcrumb">
        <li class="breadcrumb__item">
            <a href="{{ site.baseurl }}/reviews/">Review</a>
        </li>
        <li class="breadcrumb__item">
            <a href="{{ site.baseurl }}/reviews/{{ post.review-type }}s.html">{{ post.review-type | capitalize }}</a>
        </li>
        <li class="breadcrumb__item">
            <p>{{ post.artist }}</p>
        </li>
    </ul>
    <h1 class="heading heading--epsilon">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>
    <div class="post-summary__excerpt">{{ post.excerpt }}</div>
    <span class="post-summary__author">{{ author.name }},</span>
    <span class="post-summary__date">{{ post.date | date: "%b %-d, %Y" }}</span>
    <a class="post-summary__more" href="{{ post.url | prepend: site.baseurl}}">Read More</a>
</section>
