<section class="content-box" data-review-type="{{ post.review-type }}">
    <ul class="reset-list list--inline breadcrumb">
        <li class="breadcrumb__item">
            <a href="{{ site.baseurl }}/reviews/">Reviews</a>
        </li>
        <li class="breadcrumb__item">
            <a href="{{ site.baseurl }}/reviews/{{ post.review-type }}s.html">{{ post.review-type | capitalize }}</a>
        </li>
        <li class="breadcrumb__item">
            <a href="">{{ post.artist }}</a>
        </li>
    </ul>
    <h1 class="heading heading--gamma">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h1>
    <p>{{ post.excerpt }}</p>
    <a href="{{ site.baseurl }}{{ post.url }}">Read More.</a>
</section>
