<section class="content-box">
    <ul class="reset-list list--inline breadcrumb">
        <li class="breadcrumb__item">
            <a href="">Review</a>
        </li>
        <li class="breadcrumb__item">
            <a href="">The Strokes</a>
        </li>
    </ul>
    <h1 class="heading heading--gamma">A return to form for the boys from New York.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</section>
