
/* Variables */


/*$grey: #caccc9*/
/*$red: #c3322f;*/




/*reset and toolkit*/
body {
    margin: 0;
}

body,
body * {
    box-sizing: border-box;
}

.reset-link {
    color: inherit;
    text-decoration: none;
}
.reset-link:hover {
    color: inherit;
    text-decoration: none;
}

/* Grid */
.grid {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -20px;
}
.grid__item {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
}


/* Resets */
.reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*base style*/
body {
    font-family: 'Merriweather', serif;
    line-height: 1.6;
    font-size: 15px;
    color: black;
    background-color: #caccc9;
}

p {
    padding-top: 0;
}

.inner-constraint {
    padding: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

.page-content {
    background: white;
}
.related-posts {
    background-image: url(../images/backgrounds/sprinkles/sprinkles.png);
}
.related-posts .grid__item {
    width: 33.333%;
}



/*headings*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    font-size: 1rem;
}

.heading {
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1.3;
}
.heading > a {
    color: inherit;
    text-decoration: none;
}
.heading > a:hover {
    text-decoration: underline;
}

.heading--alpha {
    font-size: 4rem;
}
.heading--beta {
    font-size: 3.4rem;
}
.heading--delta {
    font-size: 2.3rem;
}
.heading--gamma {
    font-size: 1.2rem;
}

/* Content Box */

.content-box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}


/* Lists */

.list--inline li {
    display: inline-block;
}

/* Breadcrumb */
.breadcrumb {

}
.breadcrumb__item:after {
    content: "/";
}
.breadcrumb__item:last-child:after {
    content: "";
}
