---
layout: base
---
{% assign author = site.data.authors[page.author] %}

<div class="page-content">
<div class="inner-constraint">

    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post__header">
            <ul class="reset-list list--inline breadcrumb">
                <li class="breadcrumb__item">
                    <a href="{{ site.baseurl }}/blog/">Blog</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="{{ site.baseurl }}/blog/{{ page.type }}s.html">{{ page.type | capitalize }}</a>
                </li>
                <li class="breadcrumb__item">
                    <p>{{ page.artist }}</p>
                </li>
            </ul>
            <h1 class="heading heading--beta" itemprop="name headline">{{ page.title }}</h1>
            <p class="post__meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
                {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></span>{% endif %}
            </p>
        </header>

        <img class="post__image" src="{{ site.baseurl }}/assets/images/posts/{{ page.image }}" alt="">

        <div class="post__main">


            <div class="post__content" itemprop="articleBody">
                {{ content }}
            </div>

            <footer class="post__footer">
                <h2 class="heading heading--epsilon">The Author</h2>
                <div class="post__author">
                    <img src="{{ site.baseurl }}/assets/images/authors/{{ author.name | replace: " ", "-" | downcase }}.jpg" alt="">
                    <p>{{ author.name }}, <a rel="author" href="https://twitter.com/{{ author.twitter }}" title="{{ author.name }}" target="_blank">@{{ author.twitter }}</a></p>
                    <p>{{ author.bio }}</p>
                </div>

                <h2 class="heading heading--epsilon">Share</h2>
                <ul class="grid grid--flush social-share">
                    <li class="grid__item one-third">
                        <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20great%20article%20on%20musicinbrighton.com%20musicinbrighton.com{{ page.url }}" target="_blank" data-social="twitter"><span class="icon-twitter"></span> Twitter</a>
                    </li><!--
                     --><li class="grid__item one-third">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=musicinbrighton.com{{ page.url }}" target="_blank" title="Share on Facebook" data-social="facebook"><span class="icon-facebook"></span> Facebook</a>
                    </li><!--
                     --><li class="grid__item one-third">
                            <a href="mailto:?subject=Short%20title&body=Brief%20description:%20http%3A%2F%2F{{ page.url }}%2F" data-social="mail"><span class="icon-mail"></span> Email</a>
                    </li>
                </ul>

            </footer>

        </div><!--
        --><aside class="post__aside">

            {% assign gigs = site.data.gigs | limit: 5 | where:"artist", page.artist %}
            <h2 class="heading heading--epsilon">Upcoming Gigs</h2>
            {% if gigs.size > 0 %}
                <ul class="">
                    {% for gig in gigs %}
                    <li>{{ gig.artist }}, {{ gig.venue }}, {{ gig.date | date: "%-d %B %Y" }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no upcomming gigs for this artists. <a href="{{site.baseurl}}/gigs/index.html">Find other upcomming gigs</a> in the Brighton area.</p>
            {% endif %}

            {% if page.tags.size > 0 %}
                <h2 class="heading heading--epsilon">Post Tags</h2>
                <ul class="tag-list">
                    {% for tag in page.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </aside>

    </article>

</div>
</div>
<aside class="related-posts">
    <div class="inner-constraint">
        <h1 class="heading heading--gamma">Related Reviews</h1>
        {% include posts-list.html limit="3" %}
    </div>
</aside>
