

/*base style*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: black;
    background-color: white;

    // Lets not get too out of hand on massive screens, the stripes are annoying at that size
    max-width: $page-content-width + 800;
    margin: auto;
}

a {
    color: teal;
}

.inner-constraint {
    padding: $base-spacing-unit;
    margin: 0 auto;
    max-width: $page-content-width;
}

.page-content {
    background: white;
}

// Header Layout
.site-header .inner-constraint {
    padding: 0;
}

.heading.site-header__logo {
    margin-bottom: 0;
}

.site-header {
    border-bottom: 1px solid $grey;
}

.site-header .inner-constraint {
    display: flex;
    align-items: center;
}
.site-header__logo {
    flex-grow: 0;
}
.site-header .inner-constraint > div {
    flex-grow: 1;
}
.site-header .inner-constraint > nav {
    flex-grow: 0;
    flex-basis: 250px;
}



// Site Footer
.site-footer {
    background: $grey;
}


%button {
    background: $blue;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}


%meta-text {

    font-style: italic;
    color: grey;
    font-size: .9em;
}



// PAGES

body[data-page="blog-home"],
body[data-page="gig-previews"],
body[data-page="album-reviews"],
body[data-page="gig-reviews"] {

    .inner-constraint > h1 {
        margin-bottom: 1em;
    }

    .grid__item {
        font-size: 1rem;
        section {
            background-image: none !important;
            margin-bottom: 20px;
            border-bottom: 1px solid;
            padding-bottom: 10px;
        }
    }
}
