

/*base style*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: black;
    background-color: white;

    // Lets not get too out of hand on massive screens, the stripes are annoying at that size
    max-width: $page-content-width + 800;
    margin: auto;
}

.inner-constraint {
    padding: $base-spacing-unit;
    margin: 0 auto;
    max-width: $page-content-width;
}

.page-content {
    background: white;
}

// Header Layout
.site-header .inner-constraint {
    padding: 0;
}

.heading.site-header__logo {
    margin-bottom: 0;
}

.site-header {
    border-bottom: 1px solid;
}
.site-header .inner-constraint{
    display: flex;
    align-items: center;
}
.site-header__logo {
    flex-grow: 0;
}
.site-header nav {
    flex-grow: 1;
    text-align: right;
}


// Site Footer
.site-footer {
    background: $grey;
}


%button {
    background: $blue;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
}
