// Billboard

.billboard {

    @extend %clearfix;
    margin-bottom: $base-spacing-unit;
}

.billboard__item {
    position: relative;
    background-size: cover;
    display: block;
    height: 100%;

    // Fallback for no background image
    background-color: lightgrey;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:hover:after {
        background-color: rgba(black, 0.1);
    }

    .tag-list {
        position: absolute;
        top: $base-spacing-unit / 2;
        left: $base-spacing-unit / 2;
    }
    &:hover .tag-list li {
        background: rgba(teal, 0.3);
        color: white;
        border-color: white;
    }
}

.billboard__item__text {
    position: absolute;
    bottom: $base-spacing-unit / 2;
    left: $base-spacing-unit / 2;
    right: $base-spacing-unit / 4; // clear the edges
}

.billboard__item__meta {
    @extend %meta-text;
}
.billboard__item__heading {
    color: white;
}

// layout
.billboard > ul {

    > li {
        width: 49%;
        height: 250px;
        display: inline-block;
    }

    @media (min-width: 870px) {

        height: 500px;

        > li:first-child {
            width: 55%;
            float: left;
            height: 100%;
        }

        > li {
            float: left;
            width: 45%;
            height: 33.333%;
        }
    }

    @media (min-width: 1050px) {
        > li:first-child {
            width: 66.666%;
        }

        > li {
            width: 33.333%;
        }
    }
}
