/* Breadcrumb */
.breadcrumb {
    text-transform: uppercase;
    font-size: .9em;
}
.breadcrumb a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}
.breadcrumb p {
    margin: 0;
}
.breadcrumb__item:after {
    content: "/";
}
.breadcrumb__item:last-child:after {
    content: "";
}
