
// Blog post / review


// Layout

.post {

}

.post__main,
.post__header,
.post__aside {
    max-width: 700px;
    margin: auto;
}

.post__header {

    .heading {
        margin-bottom: .2em;
    }
    .breadcrumb {
        margin-bottom: .7em;
    }
}


.post__aside {

    .post-summary__breadcrumb,
    .post-summary__excerpt,
    .post-summary__more {
        display: none;
    }

    .post-summary {
        margin-bottom: $base-spacing-unit /2;
    }
    .post-summary .heading {
        font-size: inherit;
    }

}

.post__image {
    display: block;
    margin: auto;
    margin-bottom: $base-spacing-unit;
    max-width: 800px;
}

.post__meta {
    @extend %meta-text;
}

.post__footer {
    border-top: 3px solid;
    margin-top: $base-spacing-unit;
    padding-top: $base-spacing-unit;
}

.post__author {
    background: lightgrey;
    padding: $base-spacing-unit / 2;
    border-radius: 2px;
    margin-bottom: $base-spacing-unit;

    img {
        float: left;
    }
}
