// Post summary

.post-summary {

    &__author,
    &__date {
        @extend %meta-text;
    }

}



// PAGES

.page-content {

    .inner-constraint > h1 {
        margin-bottom: 1em;
    }

    .post-summary {
        font-size: 1rem;
        margin-bottom: 20px;
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }

    // Layout
    @media (min-width: 620px) {

        .post-summary {
            display: flex;
            flex-direction: row-reverse;

            &__text {
                flex-grow: 1;
            }

            &__image {
                margin-left: $base-spacing-unit;
                flex-basis: 200px;
                flex-shrink: 0;
            }
        }
    }

}
