
// Utility Classes

.margin-1 {
	margin: $base-spacing-unit;
}
.margin-bottom-1 {
	margin-bottom: $base-spacing-unit;
}

.padding-1 {
	padding: $base-spacing-unit;
}


.util-float--right {
	float: right;
}
.util-float--left {
	float: left;
}
